input[type=text], select {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #49A5FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5BD3FF;
}

div {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  transition: 0.5s; 
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top:5%;
  margin-right:30%;
  margin-left:30%;
  margin-bottom:30%;
}
