* {
padding:0;
margin:0;
}
.menu-bar {
    background-color:lightblue;
    //background-color:#0000;
    text-align:center
}
.menu-bar ul {
    display:inline-flex;
    list-style:none;
    //color:#fff;

}
.menu-bar ul li {
    //margin:18px;
    padding:15px;
    width:70px;
}
.menu-bar ul li a {
    text-decoration:none;
    //color:#fff;
}
.menu-bar ul li:hover {
    background:#A2E9FF;
    padding:15px;
}
.menu-bar ul li:active {
    //background:yellow;
    padding:15px;
}

.content {
    padding:50px;
}
// styles of login page

